In [2]:
import pandas as pd
import numpy as np  
import matplotlib.pyplot as plt 
import seaborn as sns

In [3]:
data=pd.read_csv('personality_dataset.csv')
data.head()

,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality
0,4.0,No,4.0,6.0,No,13.0,5.0,Extrovert
1,9.0,Yes,0.0,0.0,Yes,0.0,3.0,Introvert
2,9.0,Yes,1.0,2.0,Yes,5.0,2.0,Introvert
3,0.0,No,6.0,7.0,No,14.0,8.0,Extrovert
4,3.0,No,9.0,4.0,No,8.0,5.0,Extrovert

In [4]:
data.isnull().sum()

Time_spent_Alone             63
Stage_fear                   73
Social_event_attendance      62
Going_outside                66
Drained_after_socializing    52
Friends_circle_size          77
Post_frequency               65
Personality                   0
dtype: int64

In [5]:
from sklearn.preprocessing import LabelEncoder
import pickle
enc=LabelEncoder()
data["Stage_fear"]=enc.fit_transform(data["Stage_fear"])
en=LabelEncoder()
data["Drained_after_socializing"]=en.fit_transform(data["Drained_after_socializing"])
ele=LabelEncoder()
data["Personality"]=ele.fit_transform(data["Personality"])

In [6]:

pickle.dump(enc, open("enc.pkl", "wb"))
pickle.dump(en, open("encode.pkl", "wb"))
pickle.dump(ele, open("encd.pkl", "wb"))

In [7]:
data.fillna(data.mean(), inplace=True)
data.describe()

,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality
count,2900.000000,2900.000000,2900.000000,2900.000000,2900.000000,2900.000000,2900.000000,2900.000000
mean,4.505816,0.536552,3.963354,3.000000,0.521034,6.268863,3.564727,0.485862
std,3.441180,0.546911,2.872608,2.221597,0.534339,4.232340,2.893587,0.499886
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,0.000000,2.000000,1.000000,0.000000,3.000000,1.000000,0.000000
50%,4.000000,1.000000,3.963354,3.000000,1.000000,5.000000,3.000000,0.000000
75%,7.000000,1.000000,6.000000,5.000000,1.000000,10.000000,6.000000,1.000000
max,11.000000,2.000000,10.000000,7.000000,2.000000,15.000000,10.000000,1.000000

In [8]:
from sklearn.model_selection import train_test_split
x=data.drop("Personality",axis=1)
y=data["Personality"]
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [9]:
enc_personality = pickle.load(open("encode.pkl", "rb"))
print(enc_personality.classes_)

['No' 'Yes' nan]

In [10]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier(n_estimators=50,random_state=42)

In [11]:
model=rf.fit(x_train,y_train)
y_pred=model.predict(x_test)
print("Predictions:", y_pred[0])

Predictions: 1

In [12]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
cm=confusion_matrix(y_test,y_pred)
print("Confusion Matrix:\n", cm)
print("Accuracy:", accuracy_score(y_test,y_pred))
print("Classification Report:\n", classification_report(y_test,y_pred))

Confusion Matrix:
 [[275  27]
 [ 20 258]]
Accuracy: 0.9189655172413793
Classification Report:
               precision    recall  f1-score   support

           0       0.93      0.91      0.92       302
           1       0.91      0.93      0.92       278

    accuracy                           0.92       580
   macro avg       0.92      0.92      0.92       580
weighted avg       0.92      0.92      0.92       580

In [13]:
import joblib
joblib.dump(model,'personality.pkl')

['personality.pkl']

In [15]:
from sklearn.svm import SVC
svm_model = SVC(kernel='linear', random_state=42)
svm_model.fit(x_train, y_train)
y_pred_svm = svm_model.predict(x_test)
print("SVM Predictions:", y_pred_svm[0])

SVM Predictions: 1

In [16]:
import joblib
joblib.dump(svm_model, 'svm_personality.pkl')

['svm_personality.pkl']

In [17]:
print("Accuracy:", accuracy_score(y_test,y_pred_svm))

Accuracy: 0.9206896551724137